body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
    background-color: lightsteelblue;
    font-size: 36px;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
input:hover {
    transition-duration: 300ms;
    background-color: #DDDDDD;
}
input {
    width: 50%;
    height: 8%;
    border-radius: 12px;
    font-size: 36px;
    background-color: #FFFFFF;
    transition-duration: 300ms;
}